.container {
    margin: auto;
    width: 100%;
    height: 100px;
    text-align: center;
  }

body {
    background-color: #BDB2FF;
}



.btn-outline-danger {
    color:#4a4e69; 
}

.btn-outline-info {
    color:#002766; 
}




#main {
    margin-bottom: 20px;
    font-size: 100px;
    width: 100%;
    height: 25px;
  }

  #read {
    margin: auto;
    padding: 10px;
    width: 100%;
    height: 25px;
  }

  .hidden {
    display:none;
  }